<ion-header >
  <ion-navbar>
    <ion-title text-center>
      Lifevent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!--  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
-->

    <ion-buttons>
    <ion-card *ngFor="let register of register">
      <ion-img  height="100%" width="100%" src="../../assets/imgs/img_6447.jpg"></ion-img>
      <ion-card-header >
        <ion-card-title>{{register.event_name}}</ion-card-title>
        <!-- Se coloca un query con el date y cambiar a ion-datetime -->
        <h1>Día: {{register.date}}</h1>
        <h2>Hora: {{register.hour}}</h2>
        <h3>Ubicación: {{register.ubication}}</h3>
        <h3>Costo: ${{register.value}}</h3>        
        
      </ion-card-header>
      <ion-card-content>Organizador: {{register.manager_name}}
        </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-img  height="100%" width="100%" src="../../assets/imgs/img_6447.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Quito</ion-card-title>
        <!-- Se coloca un query con el date y cambiar a ion-datetime -->
        <h1>30 DIC</h1>
      </ion-card-header>
      <ion-card-content>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorehe 1500s</ion-card-content>
    </ion-card>

  
</ion-buttons>
  </ion-content>






